/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.heart {
    color: #e74c3c;
}

.green {
    color: #2ecc71;
}

.v-middle {
    vertical-align: middle;
}